<?php
/**
 * This is a skeleton configuration of Oauth2provider.
 * Make sure to look at oauth2provider.config.php for specific documentation.
 *
 * Installation of this config file:
 * 
 * 1. Create your own server custom key by replacing 'my_custom_server_key' with your own
 * 2. Populate the server key with your custom configs (refer to oauth2provider.config.php)
 * 3. Copy the oauth2provider key/data to module.config.php (there needs to be an own 'oauth2provider' config key)
 */
return array(
    'oauth2provider' => array(
        'servers' => array(
            'my_custom_server_key' => array(
                'storages'              => array(),
                'configs'               => array(),
                'grant_types'           => array(),
                'response_types'        => array(),
                'token_type'            => array(),
                'scope_util'            => array(),
                'client_assertion_type' => array(),
            ),
        ),
        'main_server' => '',
        'controller'  => '',
    ),
);
